<h1>User Editor</h1>


<% form_for(@user) do |u| %>
 <%= u.error_messages %>
  <p>
    <%= u.label 'Login' %><br />
    <%= u.text_field :login %>
  </p>
  <p>
    <%= u.label 'Email' %><br />
		<%= u.text_field :email %>
  </p>
  <p>
    <%= u.label 'Password' %><br />
    <%= u.password_field :password %>
  </p>
  <p>
    <%= u.label 'Password Confirmation' %><br />
		<%= u.password_field :password_confirmation %>
  </p>
  <p>
    <%= u.submit "Update" %>
  </p>
<% end %>