<h1>Rocky Mountain Division SCCA Master Schedule</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Host Region</th>
    <th>Name</th>
    <th>Type</th>
    <th>Track</th>
    <th>F&amp;C Chief</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.evdate %></td>
    <td><%=h event.evhostreg %></td>
    <td><%=h event.evname %></td>
    <td><%=h event.evtype %></td>
    <td><%=h event.evtrack %></td>
    <td><%=h event.evchief %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
