<section id="flagbuttons">
	<%= image_tag('alt_logo.png', {:class=>"alt_logo"} ) %>
	<p>
		<%= link_to(image_tag('speaker.png',:border=>0 ), {:action=>'alert'}, {:title=>"Alert Call"}) %>
		<%= link_to(image_tag('speaker.png',:border=>0 ), {:action=>'wavingyellow'}, {:title=>"Waving Yellow"}) %>
		<%= link_to(image_tag('speaker.png',:border=>0 ), {:action=>'standingyellow'}, {:title=>"Standing Yellow"}) %>
		<%= link_to(image_tag('speaker.png',:border=>0 ), {:action=>'metaltometal'}, {:title=>"Metal to Metal!"}) %>
		<%= link_to(image_tag('speaker.png',:border=>0 ), {:action=>'passunderyellow'}, {:title=>"Pass under Yellow!"}) %>
	</p>
</section>