<section id="flagbuttons">
	<%= image_tag('alt_logo.png', {:class=>"alt_logo"} ) %>
	<p>
		<%= link_to(image_tag('hpr.png',:border=>0 ), {:action=>'track_hpr'}, {:title=>"High Plains Raceway"}) %>
		<%= link_to(image_tag('ppir.png',:border=>0 ), {:action=>'track_ppir'}, {:title=>"Pikes Peak International Raceway"}) %>
		<%= link_to(image_tag('lajunta.png',:border=>0 ), {:action=>'track_lajunta'}, {:title=>"LaJunta Raceway"}) %>
		<%= link_to(image_tag('pmp.png',:border=>0 ), {:action=>'track_pmp'}, {:title=>"Pueblo Motorsports Park!"}) %>
	</p>
</section>