<section id="flagbuttons">
	<%= image_tag('alt_logo.png', {:class=>"alt_logo"} ) %>
	<p>
		<%= link_to(image_tag('flags/fancy_greenflag.png',:border=>0 ), {:action=>'flag_green'}, {:id=>"greenflag"}) %>
		<%= link_to(image_tag('flags/fancy_yellowflag.png',:border=>0 ), {:action=>'flag_yellow'}, {:id=>"yellowflag"}) %>
		<%= link_to(image_tag('flags/fancy_passingflag.png',:border=>0 ), {:action=>'flag_passing'}, {:id=>"passingflag"}) %>
		<%= link_to(image_tag('flags/fancy_whiteflag.png',:border=>0 ), {:action=>'flag_white'}, {:id=>"evflag"}) %>
		<%= link_to(image_tag('flags/fancy_surfaceflag.png',:border=>0 ), {:action=>'flag_surface'}, {:id=>"surfaceflag"}) %>
		<%= link_to(image_tag('flags/fancy_mechanicalflag.png',:border=>0 ), {:action=>'flag_meatball'}, {:id=>"meatballflag"}) %>
		<%= link_to(image_tag('flags/fancy_blackflag.png',:border=>0 ), {:action=>'flag_black'}, {:id=>"blackflag"}) %>
		<%= link_to(image_tag('flags/fancy_redflag.png',:border=>0 ), {:action=>'flag_red'}, {:id=>"redflag"}) %>
		<%= link_to(image_tag('flags/fancy_checkeredflag.png',:border=>0 ), {:action=>'flag_checkered'}, {:id=>"checkeredflag"}) %>
	</p>
</section>