<section id="flagbuttons">
	<%= image_tag('alt_logo.png', {:class=>"alt_logo"} ) %>
	<p>
		<%= link_to(image_tag('flags/fancy_greenflag.png',:border=>0 ), {:action=>'flag_green'}, {:id=>"greenflag"}) %>
		<%= link_to(image_tag('flags/fancy_yellowflag.png',:border=>0 ), {:action=>'flag_yellow'}, {:id=>"yellowflag"}) %>
		<%= link_to(image_tag('flags/fancy_passingflag.png',:border=>0 ), {:action=>'flag_passing'}, {:id=>"passingflag"}) %>
		<%= link_to(image_tag('flags/fancy_whiteflag.png',:border=>0 ), {:action=>'flag_white'}, {:id=>"evflag"}) %>
		<%= link_to(image_tag('flags/fancy_surfaceflag.png',:border=>0 ), {:action=>'flag_surface'}, {:id=>"surfaceflag"}) %>
		<%= link_to(image_tag('flags/fancy_mechanicalflag.png',:border=>0 ), {:action=>'flag_meatball'}, {:id=>"meatballflag"}) %>
		<%= link_to(image_tag('flags/fancy_blackflag.png',:border=>0 ), {:action=>'flag_black'}, {:id=>"blackflag"}) %>
		<%= link_to(image_tag('flags/fancy_redflag.png',:border=>0 ), {:action=>'flag_red'}, {:id=>"redflag"}) %>
		<%= link_to(image_tag('flags/fancy_checkeredflag.png',:border=>0 ), {:action=>'flag_checkered'}, {:id=>"checkeredflag"}) %>
	</p>
	
	<script type="text/javascript">
		$('greenflag').addTip('Start of Session', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('yellowflag').addTip('Caution!', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('passingflag').addTip('Check your mirrors', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('evflag').addTip('Slow vehicle ahead', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('surfaceflag').addTip('Loss of traction possible', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('meatballflag').addTip('Go to the pits', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('blackflag').addTip('Go see the stewards', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('redflag').addTip('STOP NOW!', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
		$('checkeredflag').addTip('End of Session', { tipJoint: [ 'center', 'top' ] , style: 'rounded' });
	</script>
	
</section>