<header id="page_header">
	<nav>
		<ul>
			<li><%= link_to('Home', {:action=>'index'}, {:id=>"homepage"}) %></li>
			<li><%= link_to('About', {:action=>'about'}, {:id=>"aboutpage"}) %></li>
			<li><%= link_to('Advancement', {:action=>'advance'}, {:id=>"licpage"}) %></li>
			<li><%= link_to('Schedule', {:action=>'schedule'}, {:id=>"schedpage"}) %></li>
			<li><%= link_to('Organization', {:action=>'organize'}, {:id=>"raceorgpage"}) %></li>
			<li><%= link_to('Media', {:action=>'media'}, {:id=>"mediapage"}) %></li>
			<li><%= link_to('Links', {:action=>'links'}, {:id=>"linkspage"}) %></li>
			<li><%= link_to("Blog", "http://rmsidewinder.wordpress.com/") %></li>
		</ul>
	</nav>
</header>