<header id="page_header">
	<nav>
		<ul>
			<li><%= link_to('Home', {:action=>'index'}, {:title=>"start over"}) %></li>
			<li><%= link_to('About', {:action=>'about'}, {:title=>"a little history"}) %></li>
			<li><%= link_to('Advancement', {:action=>'advance'}, {:title=>"licensing"}) %></li>
			<li><%= link_to('Schedule', {:action=>'schedule'}, {:title=>"let's go racing!"}) %></li>
			<li><%= link_to('Organization', {:action=>'organize'}, {:title=>"who's runnin this show?"}) %></li>
			<li><%= link_to('Media', {:action=>'media'}, {:title=>"pics and such.."}) %></li>
			<li><%= link_to('Links', {:action=>'links'}, {:title=>"car clubs"}) %></li>
			<li><a href="#" title="chatter..">Blog</a></li>
		</ul>
	</nav>
</header>