<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
<%= image_tag('flags/fancy_redflag.png',:border=>0) -%><b>RED</b> (Solid Red)<br/><br/>
<b>SCCA:</b><br/>
Display : <b>Standing</b> at each station and on the Starter’s stand.&nbsp;&nbsp;<b>EXTREME DANGER - THE SESSION HAS BEEN STOPPED</b>.&nbsp;&nbsp;Come to an immediate, controlled stop at the side of the race track (indicated by an official at that location or as specified in the event Supplementary Regulations).&nbsp;&nbsp;When released by an Official, proceed cautiously to the pits.<br/><br/>
	<p class="drawbox">THE RED FLAG CAN ONLY BE DISPLAYED BY ORDER OF THE OPERATING STEWARD.</p><br/>
There are several hazards that might cause a need to delay or prematurely end a session.&nbsp;&nbsp;Many hazards, such as rain, darkness, a blocked course (due to debris, water or safety vehicles), a car on fire, or a devastating multi-car crash (especially one that results in serious injuries or one that results in damage to walls, fences or the surface itself which require repairs) might prompt series officials to call for the red flag.<br/><br/>
<b>NASCAR and IRL:</b><br/> Display : <b>Waving</b> at the Starter’s stand.&nbsp;&nbsp;The red flag may be used to indicate a pre-determined pause in the race, such as NASCAR's Budweiser Shootout or the NASCAR Sprint All-Star Race.&nbsp;&nbsp;In these cases, the cars are directed to the pit area where cars may be worked on to the extent the race rules allow.&nbsp;&nbsp;Also, a red flag or board, sometimes with a yellow

<span class="atip" onmouseover="javascript:Tips.add(this, event, $('ttContent').innerHTML, {style: 'rounded'});">saltire</span>

at the entrance to the pits can indicate that the pits are closed.&nbsp;&nbsp;Such a flag is used in both the IRL and NASCAR series.&nbsp;&nbsp;In NASCAR, a red flag with a black flag signals the end of a practice session.<br/><br/>
Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags

<div id="ttContent" style="display:none">
	<p><%= image_tag('flags/flag_saltire.png') %><br />
		saltire |ˈsalˌtīr; ˈsôl-|
		noun Heraldry
		another term for St. Andrew's cross .
		• [as adj. ] (of a design) incorporating a motif based on such a diagonal cross.</p>
</div>
</section>

<script type="text/javascript">
	$('mrflagger').addTip('Flagging', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('mrcomm').addTip('Communication', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('mrtrack').addTip('Track Coverage', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('mrsignal').addTip('Hand Signals', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('weather').addTip('7 Day Weather forecast', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('homepage').addTip('Start over', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('aboutpage').addTip('A little history', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('licpage').addTip('Licensing', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });	
	$('schedpage').addTip('Lets go racing', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('raceorgpage').addTip('Who is in charge here?', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('mediapage').addTip('pics and such..', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	$('linkspage').addTip('Club info', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
</script>

<%= render(:partial => 'footer')-%>