<%= render(:partial => 'header') -%>

<%= render(:partial => 'mainlogo') -%>

<section id="media">
	<hr />
	<p>
		<%= link_to( image_tag('s_01.jpg',:border => 2), image_path('p_01.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_02.jpg',:border => 2), image_path('p_02.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_03.jpg',:border => 2), image_path('p_03.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_04.jpg',:border => 2), image_path('p_04.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_05.jpg',:border => 2), image_path('p_05.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_06.jpg',:border => 2), image_path('p_06.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_07.jpg',:border => 2), image_path('p_07.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_08.jpg',:border => 2), image_path('p_08.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_09.jpg',:border => 2), image_path('p_09.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_10.jpg',:border => 2), image_path('p_10.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_11.jpg',:border => 2), image_path('p_11.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_12.jpg',:border => 2), image_path('p_12.jpg'), :rel => 'lightbox[rms]', :title => '') %> 
		<%= link_to( image_tag('s_13.jpg',:border => 2), image_path('p_13.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_14.jpg',:border => 2), image_path('p_14.jpg'), :rel => 'lightbox[rms]', :title => 'Can you spot Dave H.') %>
		<%= link_to( image_tag('s_15.jpg',:border => 2), image_path('p_15.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_16.jpg',:border => 2), image_path('p_16.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_17.jpg',:border => 2), image_path('p_17.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_18.jpg',:border => 2), image_path('p_18.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_19.jpg',:border => 2), image_path('p_19.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_20.jpg',:border => 2), image_path('p_20.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_21.jpg',:border => 2), image_path('p_21.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_22.jpg',:border => 2), image_path('p_22.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_23.jpg',:border => 2), image_path('p_23.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_24.jpg',:border => 2), image_path('p_24.jpg'), :rel => 'lightbox[rms]', :title => '') %> 
		<%= link_to( image_tag('s_25.jpg',:border => 2), image_path('p_25.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_26.jpg',:border => 2), image_path('p_26.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_27.jpg',:border => 2), image_path('p_27.jpg'), :rel => 'lightbox[rms]', :title => 'On the job at the 24hrs of Daytona') %>
		<%= link_to( image_tag('s_28.jpg',:border => 2), image_path('p_28.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_29.jpg',:border => 2), image_path('p_29.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_30.jpg',:border => 2), image_path('p_30.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_31.jpg',:border => 2), image_path('p_31.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('s_32.jpg',:border => 2), image_path('p_32.jpg'), :rel => 'lightbox[rms]', :title => '') %>	
		</p>
</section>

<%= render(:partial => 'footer') -%>