<%= render(:partial => 'header') -%>

<%= render(:partial => 'mainlogo') -%>

<section id="media">
	<hr />
	<p>
		<%= link_to( image_tag('media/s_15.jpg',:border => 2), image_path('media/p_15.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_16.jpg',:border => 2), image_path('media/p_16.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_18.jpg',:border => 2), image_path('media/p_18.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_19.jpg',:border => 2), image_path('media/p_19.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_20.jpg',:border => 2), image_path('media/p_20.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_21.jpg',:border => 2), image_path('media/p_21.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_22.jpg',:border => 2), image_path('media/p_22.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_23.jpg',:border => 2), image_path('media/p_23.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_24.jpg',:border => 2), image_path('media/p_24.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_25.jpg',:border => 2), image_path('media/p_25.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_26.jpg',:border => 2), image_path('media/p_26.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_27.jpg',:border => 2), image_path('media/p_27.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_28.jpg',:border => 2), image_path('media/p_28.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_29.jpg',:border => 2), image_path('media/p_29.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_30.jpg',:border => 2), image_path('media/p_30.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_31.jpg',:border => 2), image_path('media/p_31.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_32.jpg',:border => 2), image_path('media/p_32.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_01.jpg',:border => 2), image_path('media/p_01.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_02.jpg',:border => 2), image_path('media/p_02.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_03.jpg',:border => 2), image_path('media/p_03.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_04.jpg',:border => 2), image_path('media/p_04.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_05.jpg',:border => 2), image_path('media/p_05.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_06.jpg',:border => 2), image_path('media/p_06.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_07.jpg',:border => 2), image_path('media/p_07.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_08.jpg',:border => 2), image_path('media/p_08.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_09.jpg',:border => 2), image_path('media/p_09.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_10.jpg',:border => 2), image_path('media/p_10.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_11.jpg',:border => 2), image_path('media/p_11.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_12.jpg',:border => 2), image_path('media/p_12.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_13.jpg',:border => 2), image_path('media/p_13.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_14.jpg',:border => 2), image_path('media/p_14.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_33.jpg',:border => 2), image_path('media/p_33.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_34.jpg',:border => 2), image_path('media/p_34.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_38.jpg',:border => 2), image_path('media/p_38.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_39.jpg',:border => 2), image_path('media/p_39.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_40.jpg',:border => 2), image_path('media/p_40.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_41.jpg',:border => 2), image_path('media/p_41.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_42.jpg',:border => 2), image_path('media/p_42.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_43.jpg',:border => 2), image_path('media/p_43.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_44.jpg',:border => 2), image_path('media/p_44.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_45.jpg',:border => 2), image_path('media/p_45.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_46.jpg',:border => 2), image_path('media/p_46.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_47.jpg',:border => 2), image_path('media/p_47.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_48.jpg',:border => 2), image_path('media/p_48.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		<%= link_to( image_tag('media/s_49.jpg',:border => 2), image_path('media/p_49.jpg'), :rel => 'lightbox[rms]', :title => '') %>
		</p>
</section>

<%= render(:partial => 'footer') -%>