<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">
	
	<%= render(:partial => 'sig_num') -%>
	
		<!-- place a 9 item table to hold images and text content -->
		<div id="handsigtable">
			<table>
				<tr>
					<th></th><th>Worker</th><th></th>
				</tr>
				<tr>
					<!-- the first image is the captain -->
					<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
					<!-- the second image is a spacer -->
					<td><%= image_tag "handsignals/gnnumberzero.idraw.gif" %></td>
					<!-- the last image is the flagger -->
					<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
				</tr>
				<tr>
					<!-- this is col 1 row 2 of the table (empty) -->
					<td></td>
					<!-- this is col 2 row 2 of the table -->
					<td><p>Number 0</p>
						<p>Using your palm, in<br/>
						an exaggerated motion,<br/>
						sweep down the<br/> 
						length of your arm.</p></td>
						<!-- this is col 3 row 2 of the table (empty) -->
						<td></td>
				</tr>
			</table><br/>
		</div><!-- handsigtable -->
		<p class="backbutton"><%= link_to( image_tag("handsignals/signal_back.png"), "sig_numbers") %></p>
</section>

<%= render(:partial => 'footer')-%>