<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">

	<%= render(:partial => 'sig_sc') -%>

	<!-- place a 9 item table to hold images and text content -->
	<div id="handsigtable">
		<table>
			<tr>
				<th>Communicator</th><th> </th><th>Safety Worker</th>
			</tr>
			<tr>
				<td><%= image_tag "handsignals/comm_man.idraw.gif" %></td>
				<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
				<td><%= image_tag "handsignals/help.idraw.gif" %></td>
			</tr>
			<tr>
				<td><p>"What do you need?"</p></td><td> </td><td>
					<p>"Send HELP!"<br/>
					Using one hand <br/>
					pat your head</p>
					</td>
			</tr>
		</table><br/>
	</div><!-- handsigtable -->
	<p class="backbutton"><%= link_to( image_tag("handsignals/signal_back.png"), "sig_safetycomm") %></p>
</section>

<%= render(:partial => 'footer')-%>