<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">

	<%= render(:partial => 'sig_gen') -%>

	<!-- place a 9 item table to hold images and text content -->
	<div id="handsigimages">
	<!-- place static images from hand signal section of F&C manual here -->
	<!-- images to include 'driver' 'pit' 'pit closed' 'time' and 'coolant' -->
	<%= image_tag "handsignals/pit.png" %> 
	<%= image_tag "handsignals/pitclosed.png" %> 
	<%= image_tag "handsignals/time.png" %> 
	<%= image_tag "handsignals/ok.png" %>
	<%= image_tag "handsignals/leaking.png" %> 

	<%= image_tag "handsignals/driver.png" %> 
	<%= image_tag "handsignals/pointdriversleft.png" %> 
	<%= image_tag "handsignals/pointdriversright.png" %> 
	<%= image_tag "handsignals/laps.png" %> 
	<%= image_tag "handsignals/cancel.png" %> 
	<%= image_tag "handsignals/fuel_gas.png" %>
	<%= image_tag "handsignals/coolant.png" %>
 	<%= image_tag "handsignals/wheelrub.png" %>

</div> <!-- handsigimages -->
	<p class="backbutton"><%= link_to( image_tag("handsignals/signal_back.png"), "sig_general") %></p>
</section>

<%= render(:partial => 'footer')-%>