<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">

	<%= render(:partial => 'sig_cf') -%>
	
	<!-- place a 9 item table to hold images and text content -->
	<div id="handsigtable">
		<table>
			<tr>
				<th>Corner Captain</th><th> </th><th>Flagger</th>
			</tr>
			<tr>
				<!-- the first image is the captain -->
				<td><%= image_tag "handsignals/casurface.idraw.gif" %></td>
				<!-- the second image is a spacer -->
				<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
				<!-- the last image is the flagger -->
				<td><%= image_tag "handsignals/flaggersurface.idraw.gif" %></img></td>
			</tr>
			<tr>
				<td>
					<p>Surface Flag:</p>
					<p>Using both arms,<br/>
					form the letter "O"<br/>
					until the flagger responds.</p>
					</td><td></td><td><p>Surface Flag</p></td>
			</tr>
		</table><br/>
	</div><!-- handsigtable -->
	<p class="backbutton"><%= link_to( image_tag("handsignals/signal_back.png"), "sig_captflagger") %></p>
</section>

<%= render(:partial => 'footer')-%>