<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">

	<%= render(:partial => 'sig_color') -%>

		<!-- place a 9 item table to hold images and text content -->
		<div id="handsigtable">
			<table>
				<tr>
					<th></th><th>Worker</th><th></th>
				</tr>
				<tr>
					<!-- the first image is the captain -->
					<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
					<!-- the second image is a spacer -->
						<td><%= image_tag "handsignals/gncolorblack.idraw.gif" %></td>
					<!-- the last image is the flagger -->
					<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
				</tr>
				<tr><td></td>
					<!-- this is col 2 row 2 of the table -->
					<td><p>Black</p>
						<p>Point to your hair.<br/>
						even if you don't<br/>
						have any!</p></td>
					</td>
				</tr>
			</table><br/>
		</div><!-- handsigtable -->
		<p class="backbutton"><%= link_to( image_tag("handsignals/signal_back.png"), "sig_colors") %></p>
</section>

<%= render(:partial => 'footer')-%>