<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">
	<p class="linecenter">General Hand signals</p>
	<p class="linecenter">Example 1: These might be used as part of a phrase.</p><br/>

	<!-- place a 9 item table to hold images and text content -->
	<div id="handsigimages">
	<!-- place static images from hand signal section of F&C manual here -->
	<!-- images to include 'driver' 'pit' 'pit closed' 'time' and 'coolant' -->
	<%= image_tag "pit.png" %> 
	<%= image_tag "pitclosed.png" %> 
	<%= image_tag "time.png" %> 
	<%= image_tag "ok.png" %>
	<%= image_tag "leaking.png" %> 

	<%= image_tag "driver.png" %> 
	<%= image_tag "pointdriversleft.png" %> 
	<%= image_tag "pointdriversright.png" %> 
	<%= image_tag "laps.png" %> 
	<%= image_tag "cancel.png" %> 
	<%= image_tag "fuel_gas.png" %>
	<%= image_tag "coolant.png" %>
 	<%= image_tag "wheelrub.png" %>

</div> <!-- handsigimages -->
	<p class="backbutton"><%= link_to( image_tag("signal_back.png"), "sig_general") %></p>
</section>

<%= render(:partial => 'footer')-%>